<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{ base_dir }}/css/pdf_style.css">
    <meta charset="UTF-8">
    <title>Reporte de Marcas</title>
</head>
<body>
    <table class="header-table">
        <tr>
            <td>
                <div class="title">Inversiones Herramientas Juan Carlos</div>
                <div class="subtitle">Reporte de Marcas</div>
            </td>
        </tr>
    </table>

    <table class="data-table">
        <thead>
            <tr>
                <th>Nombre de la Marca</th>
            </tr>
        </thead>
        <tbody>
            {% for m in trademark %}
            <tr>
                <td>{{ m.Marca|trim }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="footer_content">
        Página <pdf:pagenumber> de <pdf:pagecount>
    </div>

</body>
</html>